<%- include('./partials/header'); -%>
<div class="about">
<h1>ABOUT ME</h1>
<p>ALLOW ME TO INTRODUCE MYSELF</p>
<hr>
<div class="aboutm">
<p>
  Let's start from the beginning- my name is Tushar Gupta. If you are here to know stuff about me, may I request you to read this page in full?
</p>
<p>
    I am an engineering student actively involved in web development(Node, react, express) for a really really long time.  I build software for the web, backend systems, you name it!. As there is a famous terminology nowadays, I guess they call someone with these skillsets, a full stack developer. Well, I don’t find this term cool, it is even debatable as to what this term exactly means, or who would fall under this category.
</p>
<p> 
    I do freelancing, I do college projects, I intern with companies and I am hoping to get hired after college. My major at college is not computer science, yeah right, I am self-taught in everything related to a computer. I have been doing this since my 3rd semester in college.  I will soon start open source contribution and blog about the things I learned which can be useful for others- that is one purpose- another is- sharing (just sharing).
</p> 
<p>
    I love to code in javascript and mostly use MERN(MongoDB, Express, React, Node) stack to convert my UI sketches or ideas into websites. Lately, I have developed an interest in designing a User Interface that mainly focuses on simplicity, accessibility, and providing a good user experience to the user. I also have experience as a backend and frontend developer. In my free time, I learn new technologies or watch random videos on youtube. I love to play cricket. :)
</p>
<p>
    Whatever I wrote above is a consequence of a feeling I carry with me- and that is- building products that can ease down a process or experience. This feeling is what drove me into this geeky stuff. There is a different kind of excitement in researching the user needs, finding a solution, and then implementing it. I wish I could emphasize it more. The last part, implementation drove me into learning to build my tools- digital tools. If I try to find an analogy, then I can be compared to a cook who loves serving delicious but healthy food. And to achieve his idea of health- he starts to grow his vegetables and spices. I am sorry if this sounds absurd, but in this paragraph, I am simply writing as if we are having a conversation as if I am telling you the basics of every single line of code I have written in my life as if I am speaking my heart to you.
</p>
</div>
<br>
</div>



<%- include('./partials/footer'); -%>