<%- include('./partials/header'); -%>
<div class="blog">
<h1>Blog</h1>
<div class="blogm">
<h2>Coming Soon</h2>
<p>I am building this page, please check back soon. For any discussion, please <a href="/contact">contact me</a>.</p>
</div>
</div>



<%- include('./partials/footer'); -%>