<%- include('./partials/header'); -%>
<div class="project">
<div class="header">
    <h2>PROJECTS</h2>
    <p class="comp">Below is the list of my some projects.</p>
</div>
<div class="containe">
    	
    <article class="post-list-item">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <img src="/images/dj.png" style="max-width:65%">
            </div>
            <div class="col-lg-8 col-md-8 post-list-item">
                <a href="https://github.com/tushargupt/Blog-Website" target="_blank">Blog Website - Daily Journal</a>
                <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                    
                    <a href="https://github.com/tushargupt/Blog-Website" target="_blank"><i>GitHub</i></a>
                    
                     | October 2021
                </p>
                <p>Built this blog website named Daily Journal using NodeJS, Express, and EJS. Added session cookie and authentication using the passport-local library.</p>
            </div>
        </div>
    </article>
    <hr>
    <article class="post-list-item">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <img src="/images/tm.png" style="max-width:65%">
            </div>
            <div class="col-lg-8 col-md-8 post-list-item">
                <a href="https://stormy-lowlands-40993.herokuapp.com/" target="_blank">Task Manager WebApp</a>
                <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                    
                    <a href="https://github.com/tushargupt/task-manager" target="_blank"><i>GitHub</i></a>
                    
                     | August 2021
                </p>
                <p>A simple task manager app where users can add a new task and keep track of in-progress and completed tasks. This app is built using NodeJS, Express, and EJS used local storage to save the task data.</p>
            </div>
        </div>
    </article>
    <hr>
    <article class="post-list-item">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <img src="/images/ns.png" style="max-width:65%">
            </div>
            <div class="col-lg-8 col-md-8 post-list-item">
                <a href="https://cryptic-shelf-82725.herokuapp.com/" target="_blank">Newsletter Signup System</a>
                <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                    
                    <a href="https://cryptic-shelf-82725.herokuapp.com/" target="_blank"><i>Website</i></a>
                    
                     | April 2021
                </p>
                <p>A newsletter signup system to let the users subscribe to my newsletter. It was built using NodeJS and Express. I have used the MailChimp server to store the user's details.</p>
            </div>
        </div>
    </article>
    <hr>
    <article class="post-list-item">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <img src="/images/simon.png" style="max-width:65%">
            </div>
            <div class="col-lg-8 col-md-8 post-list-item">
                <a href="https://tushargupt.github.io/simongame/" target="_blank">Simon Game</a>
                <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                    
                    <a href="https://github.com/tushargupt/simongame" target="_blank"><i>GitHub</i></a>
                    
                     | January 2021
                </p>
                <p>The Simon game is the exciting electronic game of lights and sounds in which players must repeat random sequences of lights by pressing the colored pads in the correct order. It's fast-paced play, with lights and sounds that can challenge you. Experience the fun as you repeat the patterns and advance to higher levels.</p>
            </div>
        </div>
    </article>
    <hr>
</div>
<p style="text-align: center;">Page 1 of 2</p>
<div class="projectbtn">
<a href="/projects"><< Prev</a>
<a style="color: aqua; margin-left: 40px;" href="/projects/page/2">Next >></a>
</div>
<br>
<br>
</div>


<%- include('./partials/footer'); -%>