<%- include('./partials/header'); -%>
<div class="project">
    <div class="header">
        <h2>PROJECTS</h2>
        <p class="comp">Below is the list of my some projects.</p>
    </div>
    <div class="containe">
        <article class="post-list-item">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <img src="/images/drum.png" style="max-width:65%">
                </div>
                <div class="col-lg-8 col-md-8 post-list-item">
                    <a href="https://tushargupt.github.io/drums/" target="_blank">Drum Kit</a>
                    <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                        
                        <a href="https://github.com/tushargupt/drums" target="_blank"><i>GitHub</i></a>
                        
                         | January 2021
                    </p>
                    <p>Ready to be a virtual drummer? Play drums online with touch or keyboard choosing your drumming game and virtual drumset. Press the "keys" button from the game menu to set the correspondence between the keys and the virtual drumset elements. Depending on the drums you choose, drum games sounds and drumset elements -and the related keys- are different. The virtual drums and music games online for kids all require JavaScript.</p>
                </div>
            </div>
        </article>
        <hr>
        <article class="post-list-item">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <img src="/images/opencvmusk.png" style="max-width:65%">
                </div>
                <div class="col-lg-8 col-md-8 post-list-item">
                    <a target="_blank">Smart Selfie System</a>
                    <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                        
                        <a target="_blank"><i>GitHub</i></a>
                        
                         | September 2020
                    </p>
                    <p>An intelligent Computer Vision solution to auto-capture Selfie by detecting a smile. Trained a Cascade function with a lot of positive and negative images which is then used to detect objects in other image.  Converted the image to a gray image using cvtColor() and BGR2GRAY which are basic OpenCV functions as feature recognition is more accurate in gray images.
                        </p>
                </div>
            </div>
        </article>
        <hr>
        <article class="post-list-item">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <img src="/images/va.jpg" style="max-width:65%">
                </div>
                <div class="col-lg-8 col-md-8 post-list-item">
                    <a target="_blank">Voice Assistant</a>
                    <p style="font-size: 13px !important;" class="text-muted post-list-meta my-1">
                        
                        <a target="_blank"><i>GitHub</i></a>
                        
                         | August 2020
                    </p>
                    <p>An AI personal assistant is a piece of software that understands verbal commands and completes task assigned by the client. It is an example of weak AI that is it can only execute and perform quest designed by the user.
                        </p>
                </div>
            </div>
        </article>
        <hr>
    </div>
<p style="text-align: center;">Page 2 of 2</p>
<div class="projectbtn">
<a href="/projects"><< Prev</a>
<a style="color: aqua; margin-left: 40px;" href="/projects/page/2">Next >></a>
</div>
<br>
<br>
</div>
<%- include('./partials/footer'); -%>